$gold: #997e11
.cart-component
    flex: auto
    padding: 1rem 3rem
    background: #fff
    font-family: 'Barlow Semi Condensed', sans-serif
    color: $gold
    a
        color: dodgerblue
    span.header-text
        display: block
        margin-bottom: 1rem
    .cart-view-container
        background: #eee
        padding: 3rem .5rem
        text-align: right
        margin-left: 80px
        border-radius: 3px
