#author-pic
    border-radius: 50%
    height: 260px
    margin: 16px 0
.fadein
    animation: fadein 1s forwards
.about-component
    opacity: 0 
    min-height: $height
    background: linear-gradient(#fff, #eee)
    text-align: center
    .text-container
        display: inline-block   
        margin: 0 
        margin-bottom: 16px