.books-component
    display: flex
    flex-direction: column
    a
      color: lighten(#00aacc, 15%) !important
    section // BookDisplay
        flex: auto
        padding: 2rem
        position: relative
        .bg-image
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            z-index: -10
        &:first-child
            .text-container
                float: right
            .bg-image
                background: url('./assets/img/marriage-band-1920-1080.jpg')
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                filter: blur(5px) grayscale(25%)
        &:nth-child(2)
            .text-container
                margin: 0     
            .bg-image
                position: absolute
                top: 0 
                left: 0
                background: url('./assets/img/bride-groom1620-1080.jpg')
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                filter: blur(5px) grayscale(25%)