.modal-component
    font-family: 'Barlow Semi Condensed', sans-serif
    color: $gold
    padding: 1rem
    background: linear-gradient(#fff, #eee)
    border-top: 1px solid #888
    border-bottom: 1px solid #888
    position: absolute
    top: -20px
    opacity: 0
    width: 100%
    left: 0
    text-align: center
    transition: opacity .33s ease-in-out
    z-index: 15
    pointer-events: none
    .modal-btn
        padding: .4rem .8rem
        border: 1px solid rgba(0,0,0,.4)
        cursor: pointer
        display: inline-block
        background: #eee
        transition: background .25s
        margin: 0 .5rem
    h3
        margin-bottom: .4rem
    h6
        margin-bottom: .8rem
    .modal-btn:hover
        background: #eee
    .show-modal &
        top: 200px
        opacity: 1
        pointer-events: auto