@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.clearfix {
  overflow: auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: Georgia,"Times New Roman",Times,serif; }

a {
  color: currentColor;
  text-decoration: none; }

.App {
  display: flex;
  flex-direction: column; }

#book-svg {
  fill: #3581B8; }

.nav-component {
  overflow: hidden;
  z-index: 10;
  height: 121px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  display: flex;
  position: relative;
  border-bottom: 2px solid #1e4969; }
  .nav-component i, .nav-component span {
    cursor: pointer; }
  .nav-component .nav-left {
    width: 220px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: .5rem 0;
    position: relative;
    left: -220px;
    width: 0;
    transition: all .8s ease; }
    .is-mounted .nav-component .nav-left {
      padding: .5rem 1rem .5rem .5rem;
      width: 220px;
      left: 0; }
    .nav-component .nav-left span {
      cursor: default;
      margin-left: .4rem; }
    .nav-component .nav-left div.highlight {
      background: #3581B8;
      color: #fff;
      margin: 0;
      padding-right: .4rem; }
  .nav-component .nav-right {
    position: relative;
    width: 100%;
    background: #3581B8;
    flex: 1 1 auto;
    padding: .8rem 1rem;
    display: flex;
    flex-direction: column; }
    .nav-component .nav-right div.top-of-nav {
      align-self: flex-end; }
      .nav-component .nav-right div.top-of-nav span {
        margin-right: 1rem;
        border-bottom: 1px solid transparent;
        transition: border .25s;
        cursor: pointer;
        padding-bottom: .15rem; }
        .nav-component .nav-right div.top-of-nav span:hover {
          border-color: #fff; }
        .nav-component .nav-right div.top-of-nav span:last-child {
          margin: 0; }
      .nav-component .nav-right div.top-of-nav i {
        transition: opacity .25s;
        opacity: 1;
        margin-right: .4rem;
        cursor: pointer; }
      .nav-component .nav-right div.top-of-nav i:hover {
        opacity: .3; }
    .nav-component .nav-right div.bottom-of-nav {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-size: 1.8rem; }
      .nav-component .nav-right div.bottom-of-nav div span {
        border-bottom: 2px solid transparent;
        transition: border .25s; }
      .nav-component .nav-right div.bottom-of-nav div span:hover {
        border-color: currentColor; }
      .nav-component .nav-right div.bottom-of-nav div:first-child {
        text-align: left; }
        .nav-component .nav-right div.bottom-of-nav div:first-child span {
          margin-right: 1.5rem; }
      .nav-component .nav-right div.bottom-of-nav div:nth-child(2) {
        text-align: right; }
        .nav-component .nav-right div.bottom-of-nav div:nth-child(2) i {
          vertical-align: 3px;
          margin-right: .5rem; }

.home-component {
  flex: auto; }
  .home-component .new-title-header {
    margin-left: 200px;
    font-size: 3rem;
    padding: 45px; }
  .home-component .new-title {
    height: 300px;
    display: flex; }
  .home-component .new-title-img {
    max-height: 100%;
    margin-left: 200px; }
  .home-component .new-title-info {
    padding: 1rem; }
  .home-component .lower-section {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .home-component .new-title-description {
    margin-top: 1rem; }
  .home-component .homepage-breakpoint {
    width: 91vw;
    height: 1vh;
    margin: auto;
    margin-top: 4vh;
    opacity: .35;
    background-color: tan; }
  .home-component .titles-library {
    width: 90vw;
    margin: auto;
    display: flex; }
  .home-component .library-header {
    font-size: 2rem;
    margin-left: 200px;
    margin-top: 4vh; }

#author-pic {
  border-radius: 50%;
  height: 260px;
  margin: 16px 0; }

.fadein {
  animation: fadein 1s forwards; }

.about-component {
  opacity: 0;
  min-height: calc(100vh - 121px);
  background: linear-gradient(#fff, #eee);
  text-align: center; }
  .about-component .text-container {
    display: inline-block;
    margin: 0;
    margin-bottom: 16px; }

.test-component {
  padding: 3rem 2rem;
  background: #fff;
  color: #997e11;
  flex: auto;
  font-family: 'Barlow Semi Condensed', sans-serif; }
  .test-component .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    min-width: 730px;
    max-width: 800px;
    margin: 0 auto;
    position: relative; }
    .test-component .grid-container::before {
      position: absolute;
      top: -30px;
      left: -16px;
      content: "Browse Books";
      font-family: 'Barlow Semi Condensed', sans-serif;
      color: #997e11; }
  .test-component .book-thumbnail {
    height: 100px;
    display: flex; }
    .test-component .book-thumbnail img {
      border: 1px solid #888;
      height: 100%;
      margin-right: 1rem;
      cursor: pointer; }
    .test-component .book-thumbnail .buy-button {
      background: linear-gradient(#00cd00, green);
      padding: .3rem .6rem;
      color: #fff;
      cursor: pointer;
      font-size: .8rem;
      display: inline-block; }
    .test-component .book-thumbnail .book-title {
      color: salmon;
      font-family: Georgia, 'Times New Roman', Times, serif; }
    .test-component .book-thumbnail .author-name {
      color: #888;
      font-family: inherit;
      margin-bottom: .6rem; }

.cart-component {
  min-height: calc(100vh - 121px);
  flex: auto;
  padding: 1rem 0;
  background: linear-gradient(#fff, #eee);
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #997e11; }
  .cart-component a {
    color: dodgerblue; }
  .cart-component span.header-text {
    display: block;
    margin-bottom: 1rem; }
  .cart-component .cart-view-container {
    background: #eee;
    padding: 3rem 2.5rem;
    text-align: right;
    border-radius: 3px;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto; }

.cart-item-component, .checkout-display {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  text-align: center;
  background: #eee;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4); }
  .cart-item-component input[type='number'], .checkout-display input[type='number'] {
    display: inline;
    margin-left: .5rem;
    width: 40px; }

.modal-component {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #997e11;
  padding: 1rem;
  background: linear-gradient(#fff, #eee);
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  position: absolute;
  top: -20px;
  opacity: 0;
  width: 100%;
  left: 0;
  text-align: center;
  transition: opacity .33s ease-in-out;
  z-index: 15;
  pointer-events: none; }
  .modal-component h3 {
    margin-bottom: .4rem; }
  .modal-component h6 {
    margin-bottom: .8rem; }
  .show-modal .modal-component {
    top: 200px;
    opacity: 1;
    pointer-events: auto; }
  .modal-component .button-component {
    margin: 0 .5rem; }

.opacity-component {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: 14;
  background: rgba(68, 68, 68, 0.6);
  transition: opacity .3s ease;
  pointer-events: none; }
  .show-modal .opacity-component {
    opacity: 1;
    pointer-events: auto; }

.fadein {
  animation: fadein 1s forwards; }

.landing-component {
  opacity: 0;
  height: 100vh;
  position: relative;
  padding: 80px 0;
  overflow: hidden; }

.background-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("./assets/img/family_medium1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  filter: grayscale(25%) blur(0px);
  z-index: -10; }

.text-container {
  position: static;
  z-index: 10;
  margin-left: 10vw;
  padding: 2rem;
  width: 550px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: inline-block; }
  .text-container h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    margin-bottom: 1rem; }
  .text-container p {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: .8rem;
    line-height: 1.4rem; }

.fadein {
  animation: fadein 1s forwards; }

.books-component {
  opacity: 0;
  display: flex;
  flex-direction: column; }
  .books-component SECTION {
    flex: auto;
    padding: 2rem;
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    border: 1px solid gray;
    background: rgba(0, 0, 0, 0.2); }
    .books-component SECTION .author {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: .8rem;
      padding: 1rem 0; }
    .books-component SECTION .description {
      padding: .5rem 0;
      font-family: Georgia, "Times New Roman", Times, serif; }
      .books-component SECTION .description .read-more {
        font-size: .6rem;
        color: #54879d;
        cursor: pointer; }

.button-component {
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: .5rem 1rem;
  background: linear-gradient(#eee, #ccc);
  color: #3581B8;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  users-select: none; }
  .button-component:active {
    background: linear-gradient(#ccc, #eee); }

.footer-component {
  height: 120px;
  background: #3581B8;
  z-index: 10;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .footer-component .footer-information {
    color: #eee;
    text-align: right; }
    .footer-component .footer-information span, .footer-component .footer-information a {
      cursor: pointer; }
      .footer-component .footer-information span:hover, .footer-component .footer-information a:hover {
        color: #bbbbbb; }

.hamburger-menu-component {
  color: #fff;
  position: absolute;
  right: 10px;
  bottom: 10px;
  -webkit-user-select: none;
  user-select: none; }

#hamburger-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: .3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: rotate(90deg);
  transition: transform .3s ease-in-out; }
  #hamburger-icon div {
    background: #fff;
    height: 100%;
    width: 6px;
    border-radius: 2px; }
  #hamburger-icon.icon-clicked {
    transform: rotate(0); }

#drop-down-menu {
  height: 0;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 121px;
  z-index: 10;
  left: 0;
  background: #7ab1d9;
  transition: all .3s ease-in-out;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #fff;
  pointer-events: none; }
  #drop-down-menu.grow {
    opacity: 1;
    display: block;
    border-bottom: 2px solid #1e4969;
    height: 236px;
    padding: 1rem 0;
    pointer-events: all; }
  #drop-down-menu h1 {
    font-weight: normal;
    transition: all .3s;
    cursor: pointer;
    display: inline-block;
    border-bottom: 4px solid transparent;
    margin-bottom: .5rem; }
    #drop-down-menu h1:hover {
      border-bottom: 4px solid currentColor; }

.contact-component {
  min-height: calc(100vh - 121px);
  flex: auto;
  padding: 1rem 3rem;
  background: linear-gradient(#fff, #eee);
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #997e11; }

@media screen and (min-width: 758px) {
  .hamburger-menu-component, #drop-down-menu {
    display: none; } }

@media screen and (max-width: 758px) {
  .nav-component .nav-right div.top-of-nav, .nav-component .nav-right div.bottom-of-nav {
    display: none; }
  .text-container {
    margin: 0;
    width: 100%; } }

@media screen and (max-width: 550px) {
  .books-component section {
    padding: 2rem 0;
    height: auto !important; } }
