#book-svg
    fill: $blue
.nav-component
    z-index: 10
    height: 121px
    font-family: 'Josefin Sans', sans-serif
    color: #fff
    display: flex
    position: relative
    border-bottom: 2px solid darken($blue, 20)
    i, span
        cursor: pointer
    .nav-left
        width: 220px
        background: #fff  
        color: #333
        display: flex
        align-items: flex-start
        justify-content: space-between
        
        font-size: 2rem
        font-family: Georgia, 'Times New Roman', Times, serif

        padding: .5rem 0
        position: relative
        left: -220px
        width: 0
        transition: all .8s ease
        .is-mounted &
            padding: .5rem 1rem .5rem .5rem
            width: 220px
            left: 0
        span
            cursor: default
            margin-left: .4rem
        div.highlight
            background: $blue
            color: #fff
            margin: 0
            padding-right: .4rem
            


    .nav-right
        position: relative
        width: 100%
        background: $blue
        flex: 1 1 auto
        padding: .8rem 1rem
        display: flex
        flex-direction: column
        div.top-of-nav
            align-self: flex-end
            span
                margin-right: 1rem
                border-bottom: 1px solid transparent
                transition: border .25s
                cursor: pointer
                padding-bottom: .15rem
                &:hover
                    border-color: #fff
                &:last-child
                    margin: 0
            i
                transition: opacity .25s
                opacity: 1
                margin-right: .4rem
                cursor: pointer
            i:hover
                opacity: .3

        div.bottom-of-nav
            height: 100%
            display: flex
            align-items: flex-end
            justify-content: space-between
            font-size: 1.8rem
            div
                span
                    border-bottom: 2px solid transparent
                    transition: border .25s
                span:hover
                    border-color: currentColor
                &:first-child
                    text-align: left
                    span
                        margin-right: 1.5rem
                &:nth-child(2)
                    text-align: right
                    i
                        vertical-align: 3px
                        margin-right: .5rem
